.block__photo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-block: 110px;

  @include on-tablet {
    padding-block: 140px;
  }

  @include on-desktop {
    padding-block: 170px;
  }

  img {
    width: 100%;
    height: auto;

    @include on-tablet {
      max-width: 700px;
    }

    @include on-desktop {
      max-width: 850px;
    }
  }
}
