.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__top {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  &__button {
    cursor: pointer;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    padding: 0;
    border: none;
    background: none;
  }

  &__logo {
    display: none;
  }

  &__arrow {
    display: none;

    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  &__links {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-block: 60px;
  }

  &__info {
    margin: 0;
    font-size: 14px;
    color: $placeholder-color;
  }

  @include on-tablet {
    &__arrow {
      display: block;
    }

    &__logo {
      display: block;
    }
  }
}
