@import 'utils';
@import 'fonts';
@import 'typography';
@import 'header';
@import 'menu';
@import 'functions';
@import 'block';
@import 'section';
@import 'quote';
@import 'features';
@import 'questions';
@import 'footer';

html {
  scroll-behavior: smooth;
}

body {
  background-color: $bg-color;
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.container {
  padding-inline: 30px;
  padding-block: 30px;
  margin-inline: auto;
  max-width: 1200px;

  @include on-tablet {
    padding-inline: 34px;
  }

  @include on-desktop {
    padding-inline: 123px;
  }
}
