.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-block: 90px;
  gap: 27px;

  &__title {
    align-self: flex-start;
    width: 100%;
    margin: 0;
    color: $text-color-main;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  &__input {
    height: 48px;
    padding-inline: 20px;
    border: 1px solid $border-color;

    &::placeholder {
      @include main-text;
    
      color: $placeholder-color;
    }

    &:focus {
      border-color: $btn-blue-color-hover;
      outline: none;
    }
  }

  &__textarea {
    resize: none;
    box-sizing: border-box;
    width: 100%;
    height: 128px;
    padding-block: 12px;
    padding-inline: 20px;
    border: 1px solid $border-color;

    &::placeholder {
      @include main-text;

      color: $placeholder-color;
    }

    &:focus {
      border-color: $btn-blue-color-hover;
      outline: none;
    }
  }

  &__button {
    cursor: pointer;
    align-self: flex-start;
    width: auto;
    padding-block: 17px;
    padding-inline: 42.5px;
    border: none;
    color: #fff;
    background-color: $blue-color;
    @include button-text;

    &:hover {
      background-color: $btn-blue-color-hover;
    }
  }

  @include on-tablet {
    flex-direction: row;
    justify-content: space-between;
    padding-block: 140px;

    &__title {
      font-size: 36px;
      line-height: 46px;
    }

    &__from {
      gap: 19px;
      width: 48%;
    }
  }

  @include on-desktop {
    padding-block: 170px;

    &__title {
      font-size: 56px;
      line-height: 70px;
    }
  }
}
