.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-inline: 0;
  padding-bottom: 110px;

  background-image: url('/src/images/icons/quotes.webp');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 208px 171px;

  &__text {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 30px;
    @include quote;

    text-align: center;
    max-width: 260px;
  }

  &__person {
    text-align: center;
  }

  &__author {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: $text-color-main;
    margin: 20px 0 0;
  }

  &__role {
    @include secondary-text;

    color: $default-color-text;
    margin: 5px 0 0;
  }

  @include on-tablet {
    padding-inline: 10px;
    padding-bottom: 140px;
    background-size: 233px 189px;

    &__text {
      max-width: 700px;
      padding-block: 40px;
    }
  }

  @include on-desktop {
    padding-inline: 204px;
    padding-bottom: 170px;

    &__text {
      max-width: 786px;
    }
  }
}
