.section {
  display: grid;
  grid-template-areas: 'title' 'image' 'description';
  gap: 30px;
  padding-bottom: 110px;

  &__title {
    grid-area: title;
    margin: 0;
    color: $text-color-main;

    @include on-tablet {
      font-size: 36px;
      line-height: 46px;
    }

    @include on-desktop {
      font-size: 56px;
      line-height: 70px;
    }
  }

  &__text {
    @include secondary-text;

    font-size: 16px;
    color: $default-color-text;

    @include on-tablet {
      line-height: 24px;
      margin: 0 0 30px;
    }
  }

  &__image-full {
    grid-area: image;
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__description {
    display: contents;
    grid-area: description;
    max-width: 260px;

    @include on-tablet {
      max-width: 340px;
    }

    @include on-tablet {
      max-width: 582px;
    }
  }

  &__link {
    position: relative;

    @include button-text;

    color: $blue-color;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $blue-color;
      transform: scaleX(50%);
      transform-origin: left;
      transition: transform 0.3s ease;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  @include on-tablet {
    &.section--right-image {
      grid-template-areas: 'description image';
    }

    &.section--left-image {
      grid-template-areas: 'image description';
    }

    padding-bottom: 140px;
    align-items: stretch;

    &__image-full {
      width: 100%;
      padding: 0;

      img {
        width: 100%;
        height: auto;
        margin: 0;
        object-fit: cover;
        object-position: center;
        max-width: 380px;

        @include on-desktop {
          max-width: 582px;
        }
      }
    }

    &__description {
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: flex-start;
    }
  }
}
