%h1 {
  font-family: Roboto, sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
  text-transform: uppercase;
}

%h2 {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  text-transform: uppercase;
}

%h3 {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  text-transform: uppercase;
}


@mixin button-text {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  text-transform: uppercase;
}

@mixin main-text {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@mixin secondary-text {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

@mixin thirdary-text {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

@mixin quote {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
