@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin on-mobile {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}



