$bg-color: #f9f9f9;
$text-color-main: #333333;
$text-color-hover: #131313;
$default-color-text: #7C7C7C;
$btn-color-disable: #D0D0D0;
$blue-color: #0DB2B3;
$light-blue-color: #CFEFF0;
$btn-blue-color-hover: #0C797A;
$border-color: #828282;
$placeholder-color: #bdbdbd;
$text-secondary-color: #4f4f4f;
